<%= link_to "â†	Back", root_path, class: "block mb-4 no-underline text-xs" %>
<h1 class="mb-0">
  <%= @password.url%>
  <%= link_to @password.url, target: :_blank do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
         stroke-width="1.5" stroke="currentColor"
         class="inline-block text-blue-500 w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
    </svg>
  <% end %>
</h1>
<%= link_to "Edit", edit_password_path %>

<div class="py-5">
  <h4>Credentials</h4>
  <%= render "password_attribute", label: "Username", attribute: @password.username %>
  <%= render "password_attribute", label: "Password", attribute: @password.password %>
</div>

<div class="py-5">
  <h4>Share</h4>
  <div class="py-3 flex flex-col gap-1 divide-y divide-gray-200">
    <%= link_to "Add user", new_password_share_path(@password), class: "pb-2" %>

    <% @password.users.excluding(current_user).each do |user| %>
     <div class="flex justify-between items-center">
       <div class="py-2"><%= user.email %></div>
       <%= button_to "Remove",
                   password_share_path(@password, user),
                   method: :delete,
                   data: { turbo_confirm: "Are you sure?"}
       %>
     </div>
    <% end %>

  </div>
</div>